div#testAnalyzerModal .modal-body .col-xs-12 {
    margin: 10px 0 10px 0;
    text-align: center;
}

#modalTestAnalyzeButton {
    margin-bottom: 20px;
}

pre#json-renderer {
    text-align: left;
    padding: 20px;
}

div#topicsButtons {
    display: none;
}

td.positiveReview {
    background-color: #00ff4c !important;
}
td.negativeReview {
    background-color: #d11d1d !important;
}

progress#csvUploadProgress {
    visibility: hidden;
}